body {
    font-family: 'Arial', sans-serif;
	background-color: white;
}

header {
	background-color: black;
	text-align: center;
	color: white;
	padding: 20px;
}

ul, li {
	color: gray;
	text-align: center;
	list-style-type: none;
}

h2 {
	font-family: 'Roboto', sans-serif;
	color: white;
	text-align: center;
}

p {
	font-family: 'Roboto', sans-serif;
	color: white;
	text-align: center;
}

footer {
	background-color: black;
	text-align: center;
	color: white;
}
