/*
Below are the universals. If you want to adjust
something specific for your page, make a class!
Also be sure to make a comment above it so that
we know what it does. Communication is key!
*/


body {
	font-family: 'Verdana', serif;
	background-color: Oldlace;
	margin: 0;
	padding: 0;
}

header {
	font-family: 'Tahoma', serif;
	background-color: gray;
	text-align: center;
	padding: 5px;
	color: black;
}

ul {
	list-style-type: none;
}

h2 {
	text-align: center;
}

p {
	font-family: 'Verdana', serif;
	color: black;
	text-align: left;
}

a {
	margin: 5px;
}

table {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;
	border-collapse: collapse;
	width: 80%;
}

th, td {
	padding: 20px;
	display: block;
	border: 1px solid;
}

/* Style for the nav. bar. */
.topnav {
	background-color: gray;
	border: 5px outset black;
	color: black;
	text-align: center;
	list-style-type: none;
}

/* Style for the footer. */
.footer {
	background-color: gray;
	border: 5px outset black;
	text-align: left;
	color: black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}

/* Style for the container. */
.container {
	list-style-type: none;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

/* Style for the container text. */
.container-text {
	text-align: center;
}

.service-title {
	font-size: 20px;
	text-align: center;
}
